@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
  /* code solusi saya di bawah */
  display: flex;
  flex-direction: column;
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
  /* adding solution */
  padding: 8px 16px;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
}

/* solusi */
.header, .footer {
  display: flex;
  justify-content: space-between;
  padding: 16px;
}

.footer {
  background-color: #eee;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 16px;
}

a {
  text-decoration: none;
  color: silver;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center; /* center horizontal */
  justify-content: center; /* center vertikal */
  gap: 16px;  /* jarak antar elemen: logo, input, buttons */
  flex: 1; /* mengisi area kosong antara header dan footer */
}
